<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

    <div class="row  ">
      <div class="col-6 ">
           <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Details</h4>
            </div>
            <div class="d-grid gap-3">
              <div class="p-2 bg-light border typography-line"> 
                <h6>
                Project Name:</h6>
                {{project.nomProjet}}
                </div>
              <div class="p-2 bg-light border typography-line"><h6> Project Client:</h6>
                {{project.client}}
            </div>
              <div class="p-2 bg-light border typography-line"><h6>Project Deadline:</h6>
                {{project.deadline}}
                
            </div>
              <div class="p-2 bg-light border typography-line">
                <h6> Project Status : </h6>
                {{project.etat}}
               
              </div>
           
              <div class="p-2 bg-light border typography-line">
                
                <h6> Project Description:</h6>
                {{project.decription}}
                </div>

                
              <div class="p-2 bg-light border typography-line">
                
                <h6> Requiered level :</h6>
                {{project.field}}
                </div>
           
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Associated teams</h4>
            </div>

            <div class="table-responsive" >
    
                <table class="table align-middle mb-0 bg-white">
                  <thead class="bg-light">
                <th>
                 #ID
                </th>
                <th>
                  Team Name
                 </th>
                 <th>
                  Level
                 </th>
                <th>
                    Actions
                  </th>
              </thead>
              <tbody *ngFor="let eq of equipe">
                
                
                <tr>
                 
                  <td>
                   {{eq.idEquipe}}
                  </td>
                  <td>
                    {{eq.nomEquipe}}
                  
                    </td>
                    <td>
                      {{eq.niv}}
                      </td>
                  <td>
                    <div class="button-container">
                      <button  class="btn btn-neutral btn-icon btn-round btn-lg"   (click)="deleteequipe(eq.idEquipe)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                          </svg>
                      </button>
                    </div>
                
                  </td>
                
                </tr>
                 
            
               
              </tbody>
              
                   
            </table>
            <div class=" d-flex justify-content-center ">
              <button (click)="redirect()" class="btn btn-primary btn-round " type="button" >
                <i class="now-ui-icons ui-1_simple-add"></i> Add Teams
              </button>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>

