.tableall{
    max-height: 500px;
    overflow-x: hidden;
}

.stickyhead{
    position: sticky;
    z-index: 1;
    top: 0;
}


.divider{
   
    width: 1px;
    height: 50px;
    margin-inline: 32px;
    transform: translateY(8%);
    background-color: rgb(139, 134, 134);
}