.form-check{
    display: inline;
    margin-left: 50px;
}

.form-check-label{
    padding-left: 10px;
}

.disNone{
    /* visibility: hidden; */
    display: none;
}

.disYes{
    display: block;
}

.divider{
    width:1px; 
    height:50px; 
    /* margin-inline:20px; */
    background-color: black;
    display: inline-block;
    transform: translateY(40%);
}

/* form validation style */
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
small{
    color: red;
}
