<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card ">
        <div class="card-header">
          <h5 class="title">List des Enseignants</h5>
        </div>
        <div class="card-body">
          <button  routerLink="ajouter" [ngClass]="['btn','btn-sm', 'btn-color']" >Ajouter Un Enseignant</button>
          <form>
            <input class="form-control border p-2 col-md-4 align-right" [(ngModel)]="filterTexts"  placeholder="Entrer Nom de department" aria-label="Search">
            <table [ngClass]="'table'">
              <thead  _ngcontent-neq-c27 class="text-primary">
                <tr>
                  <th><h6>ID</h6></th>
                  <th><h6>NOM</h6></th>
                  <th><h6>PRENOM</h6></th>
                  <th><h6>Date Embauche</h6></th>
                  <th><h6>FONCTION</h6></th>
                  <th class="text-right"><h6>ACTION</h6></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ens of list | FilterPipeEnseign:filterTexts | paginate
                : {itemsPerPage: tableSize,currentPage: page, totalItems: count }; let i = index">
                  <td>{{ens.idenseignant}}</td>
                  <td>{{ens.nom}}</td>
                  <td>{{ens.prenom}}</td>
                  <td>{{ens.dateembauche}}</td>
                  <td [style.color]="getColor(ens.fonction)"><h6>{{ens.fonction}}</h6></td>
                  <td class="text-right">
                    <!-- info icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#00D100" class="bi bi-info-circle icon" viewBox="0 0 16 16" [routerLink]="['details', ens.idenseignant]">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <!-- edit icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#FFDA00" class="bi bi-pencil-square icon" viewBox="0 0 16 16" [routerLink]="['modifier', ens.idenseignant ]">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    <!-- trash icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-trash icon" viewBox="0 0 16 16" (click)="delete(ens)">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <pagination-controls   previousLabel="🡸" nextLabel="🡺"  (pageChange)="onTableDataChange($event)" class="my-pagination">
              </pagination-controls>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

