<div class="panel-header panel-header-lg">
  <div class="typography-line"></div>
  <div class="wrapper">
    <div class="content">
      <h2>welcome.back</h2>
      <h2>welcome.back</h2>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div id="info" class="alert alert-info" role="alert">
        <div class="container d-flex">
          <div class="alert-icon pr-3">
            <i class="now-ui-icons travel_info"></i>
          </div>
          <strong class="pr-2">Heads up!</strong> you need to update 3 contracts
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="removenotif($event, 'info')"
          >
            <span aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </span>
          </button>
        </div>
      </div>
      <div id="warning" class="alert alert-warning" role="alert">
        <div class="container d-flex">
          <div class="alert-icon pr-3">
            <i class="now-ui-icons ui-1_bell-53"></i>
          </div>
          <strong class="pr-2">Warning!</strong> 5 contract going to expire soon
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="removenotif($event, 'warning')"
          >
            <span aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </span>
          </button>
        </div>
      </div>
      <div id="danger" class="alert alert-danger" role="alert">
        <div class="container d-flex">
          <div class="alert-icon pr-3">
            <i class="now-ui-icons objects_support-17"></i>
          </div>
          <strong class="pr-2">Oh snap!</strong> 2 contract are expired
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="removenotif($event, 'danger')"
          >
            <span aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2022 Teams</h5>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas
              baseChart
              [datasets]="radarChartData"
              [options]="radarChartOptions"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
            >
            </canvas>
          </div>

          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Number of Effectif</h5>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas
              baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
            >
            </canvas>
          </div>

          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
